<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="As melhores batatas do mundo">
    <meta name="keywords" content="Potatos, batatas, as melhores batatas do mundo">
    <meta name="author" content="Rodrigo da Silva Brito">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/import-carrinho.css">
    <title>Potato</title>
</head>
<body>
    <nav class="carrinho anima__direita" data-sacola="carrinho">
        <h1 class="carrinho__titulo"><a href="./loja.html">Carrinho</a></h1>

        <div class="carrinho__content">
            <div class="carrinho__item">
                <img src="../public/img/loja/img-1.jpg" alt="img-item" title="Batata">

                <div class="carrinho__item_content">
                    <h1>Batata inglesa</h1>
                    <p>3kg - R$ 16,50</p>
                    <button>Ver Mais Detalhes</button>  
                </div>

                <div class="carrinho__apagar">X</div>
            </div>
        </div>

        <div class="carrinho__sair" data-sacola="fechar"></div>
    </nav>

</body>
</html>