<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="As melhores batatas do mundo">
    <meta name="keywords" content="Potatos, batatas, as melhores batatas do mundo">
    <meta name="author" content="Rodrigo da Silva Brito">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/import-receitas-item.css"> 
    <title>Receitas</title>
</head> 
<body>
    <header>
        <div class="logo">
            <a href="../index.html"> 
                <img src="../public/img/logo.svg" alt="Potato - logo" title="Potato">
            </a>
        </div>
 
        <div class="menu">
            <nav class="container menu__desk">
                <ul id="menu__nav">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./receitas.html">Receitas</a></li>
                    <li><a href="./loja.html">Comprar</a></li>
                    <li><a href="../index.html#sobre">Sobre</a></li>
                </ul>

                <ul id="menu__login"> 
                    <li><a href="./cadrasto.html">cadrasta-se</a></li>
                    <li><a href="#login">Login</a></li>
                </ul>
            </nav>

            <nav class="container menu__mobile">
                <div class="menu__icon_mobile" data-menu="menu__icon"></div>

                <ul id="menu__nav_mobile" class="anima__cima" data-menu="menu__nav_mobile">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./receitas.html">Receitas</a></li>
                    <li><a href="./loja.html">Comprar</a></li>
                    <li><a href="../index.html#sobre">Sobre</a></li>
                    <li><a href="./cadrasto.html">cadrasta-se</a></li>
                    <li><a href="#login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

   <section class="informacoes">
        <div class="container">
            <img src="../public/img/receitas/filled-potato-785151_1920.jpg" alt="Receitas" title="Batata Recheada">

            <div class="informacoes__descricao">
                <h1>Batata Recheada</h1>
                <p>Quisque non rutrum enim. Aenean pretium augue tellus, non malesuada magna fermentum eget. Vivamus sagittis lacus sit amet auctor efficitur.</p>
                <p>Quisque non rutrum enim. Aenean pretium augue tellus, non malesuada magna fermentum eget. Vivamus sagittis lacus sit amet auctor efficitur.</p>
            </div>
        </div>
   </section>

   <section class="preparo">
        <div class="container">
            <div class="preparo__itens">
                <h1>Itens:</h1>

                <ul>
                    <li>Batata Pré Assada (4kg)</li>
                    <li>Manteiga Sadia (1kg)</li>
                    <li>Arroz Cozido a Vapor (5kg)</li>
                    <li>Sal (18kg)</li>
                    <li>Mel de Rosas (1kg)</li>
                    <li>Pó de Feijão (12g)</li>
                </ul>
            </div>
            
            <div class="preparo__modo">
                <h1>Método de Preparo:</h1>
                <p>Quisque non rutrum enim. Aenean pretium augue tellus, non malesuada magna fermentum eget. Vivamus sagittis lacus sit amet auctor efficitur. Quisque non rutrum enim. Aenean pretium augue tellus, non malesuada magna fermentum eget.</p>
                <p>Quisque non rutrum enim. Aenean pretium augue tellus, non malesuada magna fermentum eget. Vivamus sagittis lacus sit amet auctor efficitur. Quisque non rutrum enim. Aenean pretium augue tellus, non malesuada magna fermentum eget.</p>
            </div>
        </div>
   </section>

   <section class="receitas__topicos container">
        <div class="receitas__container">
            <div class="receitas__passar esquerda" data-passar="esquerda">←</div>
            <div class="receitas__content">
                <div class="receitas__content_single">
                    <a href="./receitasItem.html" class="content__single_img"></a>

                    <h2 class="content__single_titulo">Batata Recheada</h2>
                    <div class="content__single_user"></div>

                    <div class="clear"></div>
                </div>

                <div class="receitas__content_single">
                    <a href="./receitasItem.html" class="content__single_img"></a>

                    <h2 class="content__single_titulo">Batata Recheada</h2>
                    <div class="content__single_user"></div>

                    <div class="clear"></div>
                </div>

                <div class="receitas__content_single">
                    <a href="./receitasItem.html" class="content__single_img"></a>

                    <h2 class="content__single_titulo">Batata Recheada</h2>
                    <div class="content__single_user"></div>

                    <div class="clear"></div>
                </div>

                <div class="receitas__content_single">
                    <a href="./receitasItem.html" class="content__single_img"></a>

                    <h2 class="content__single_titulo">Batata Recheada</h2>
                    <div class="content__single_user"></div>

                    <div class="clear"></div>
                </div>

                <div class="receitas__content_single">
                    <a href="./receitasItem.html" class="content__single_img"></a>

                    <h2 class="content__single_titulo">Batata Recheada</h2>
                    <div class="content__single_user"></div>

                    <div class="clear"></div>
                </div>

                <div class="receitas__content_single">
                    <a href="./receitasItem.html" class="content__single_img"></a>

                    <h2 class="content__single_titulo">Batata Recheada</h2>
                    <div class="content__single_user"></div>

                    <div class="clear"></div>
                </div>

                <div class="receitas__content_single">
                    <a href="./receitasItem.html" class="content__single_img"></a>

                    <h2 class="content__single_titulo">Batata Recheada</h2>
                    <div class="content__single_user"></div>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="receitas__passar direita" data-passar="direita">→</div>

        </div>
    </section>

    <div class="login anima__fundo">
        <form method="POST">
            <label for="nome.user">Usuário: </label>
            <input type="text" id="nome.user" name="nome.user">

            <label for="senha.user">Senha: </label>
            <input type="password" id="senha.user" name="senha.user">

            <button class="login__btn">Entrar</button>
        </form>

        <div class="login__fechar">X</div>
    </div>

    <div class="overflow-login anima__fundo"></div>
    
    <footer class="footer">
        <div class="container">
            <div class="footer__content_icons">
                <a href="#"><img src="../public/img/youtube.svg" alt="YouTube" title="Visite o Nosso Canal"></a>
                <a href="#"><img src="../public/img/facebook.svg" alt="FaceBook" title="Visite o Nosso FaceBook"></a>
                <a href="#"><img src="../public/img/twitter.svg" alt="twitter" title="Visite o Nosso twitter"></a>
                <a href="#"><img src="../public/img/github.svg" alt="GitHub" title="Visite o Nosso perfil no GitHub"></a>
            </div> 

            <div class="footer__content_direitos">
                <p>©Direitos Reservados</p>
            </div>
        </div>
    </footer> 

    <script src="../public/js/main.js" type="module"></script>
    <script src="../public/js/mainReceitasItem.js" type="module"></script>
</body>
</html>