<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="As melhores batatas do mundo">
    <meta name="keywords" content="Potatos, batatas, as melhores batatas do mundo">
    <meta name="author" content="Rodrigo da Silva Brito">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/import-receitas.css"> 
    <title>Receitas</title>
</head> 
<body>
    <header>
        <div class="logo">
            <a href="../index.html"> 
                <img src="../public/img/logo.svg" alt="Potato - logo" title="Potato">
            </a>
        </div>
 
        <div class="menu">
            <nav class="container menu__desk">
                <ul id="menu__nav">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./receitas.html">Receitas</a></li>
                    <li><a href="./loja.html">Comprar</a></li>
                    <li><a href="../index.html#sobre">Sobre</a></li>
                </ul>

                <ul id="menu__login"> 
                    <li><a href="./cadrasto.html">cadrasta-se</a></li>
                    <li><a href="#login">Login</a></li>
                </ul>
            </nav>

            <nav class="container menu__mobile">
                <div class="menu__icon_mobile" data-menu="menu__icon"></div>

                <ul id="menu__nav_mobile" class="anima__cima" data-menu="menu__nav_mobile">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./receitas.html">Receitas</a></li>
                    <li><a href="./loja.html">Comprar</a></li>
                    <li><a href="../index.html#sobre">Sobre</a></li>
                    <li><a href="./cadrasto.html">cadrasta-se</a></li>
                    <li><a href="#login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="slider" data-slider="container">
        <div class="slider__content slider__content-ativo anima__direita" style="--background-slider--: url('../../img/receitas/banner-slide-1.png');">
            <h1 class="slider__content_titulo">Receita - 1</h1>
            <p class="slider__content_nota">4,3 ★</p>
       </div>

       <div class="slider__content anima__direita" style="--background-slider--: url('../../img/receitas/banner-slide-2.jpg');">
            <h1 class="slider__content_titulo">Receita - 2</h1>
            <p class="slider__content_nota">2,3 ★</p>
        </div>

        <div class="slider__content anima__direita" style="--background-slider--: url('../../img/receitas/banner-slide-3.jpg');">
            <h1 class="slider__content_titulo">Receita - 3</h1>
            <p class="slider__content_nota">5,2 ★</p>
        </div>

        <div class="slider__content anima__direita" style="--background-slider--: url('../../img/receitas/banner-slide-4.jpg');">
            <h1 class="slider__content_titulo">Receita - 4</h1>
            <p class="slider__content_nota">6 ★</p>
        </div>

        <div class="slider__content anima__direita" style="--background-slider--: url('../../img/receitas/banner-slide-5.jpg');">
            <h1 class="slider__content_titulo">Receita - 5</h1>
            <p class="slider__content_nota">4,9 ★</p>
        </div>

        <div class="slider_controle" data-slider="container__controle">
        </div>
    </section>

    <section class="receitas">
        <div class="container">
            <h1 class="receita__content_titulo">Receitas<span>Para Melhorar Seu Dia!</span></h1>

            <div class="receitas__favoritas receitas__topicos">

                <div class="receitas__container">
                    <div class="receitas__passar esquerda" data-passar="esquerda">←</div>
                    <div class="receitas__content">
                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="receitas__passar direita" data-passar="direita">→</div>

                </div>

                <a href="#" class="receitas__content_mais">Veja Mais</a>
            </div>

            <div class="receitas__doces receitas__topicos">
                <h1>Receitas Doces</h1>

                <div class="receitas__container">
                    <div class="receitas__passar esquerda" data-passar="esquerda">←</div>
                    <div class="receitas__content">
                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="receitas__passar direita" data-passar="direita">→</div>

                </div>
                <a href="#" class="receitas__content_mais">Veja Mais</a>
            </div><!-- receitas doces -->

            <div class="receitas__salgadas receitas__topicos">
                <h1>Receitas Salgadas</h1>
                
                <div class="receitas__container">
                    <div class="receitas__passar esquerda" data-passar="esquerda">←</div>
                    <div class="receitas__content">
                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>

                        <div class="receitas__content_single">
                            <a href="./receitasItem.html" class="content__single_img"></a>

                            <h2 class="content__single_titulo">Batata Recheada</h2>
                            <div class="content__single_user"></div>

                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="receitas__passar direita" data-passar="direita">→</div>     
                </div>

                <a href="#" class="receitas__content_mais">Veja mais</a>
            </div><!-- receitas salgadas -->
        </div><!-- Container -->
    </section>

    <section class="junte-se">
        <div class="container">
            <h1>Junte-se a nois</h1>

            <div class="junte-se__op">
                <a href="./adicionarReceita.html">Postar minhas receitas</a>
                <a href="./minhasReceitas.html">Administrar receitas</a>
                <div class="clear"></div>
            </div>
        </div>
    </section>

    <section class="noticias">
        <div class="container">
            <h1>Últimas notícias</h1>

            <div class="noticias__content">
                <a href="#" class="noticia__single noticia__single-1">
                    <h1>Uma alimentação com base em batatas torna sua vida mill vezes melhor.<span>Batatas?</span></h1>
                </a>

                <a href="#" class="noticia__single noticia__single-2">
                    <h1>Como Plantar minhas Proprias Batatas?</h1>
                </a>

                <a href="#" class="noticia__single noticia__single-3">
                    <h1>Como Plantar minhas Proprias Batatas?</h1>
                </a>

                <a href="#" class="noticia__single noticia__single-4">
                    <h1>Como Plantar minhas Proprias Batatas?</h1>
                </a>

                <a href="#" class="noticia__single noticia__single-5">
                    <h1>Uma alimentação com base em batatas torna sua vida mill vezes melhor. <span>Batatas?</span></h1>
                </a>
            </div><!-- noticia linha -->
        </div>
    </section>

    <div class="login anima__fundo">
        <form method="POST">
            <label for="nome.user">Usuário: </label>
            <input type="text" id="nome.user" name="nome.user">

            <label for="senha.user">Senha: </label>
            <input type="password" id="senha.user" name="senha.user">

            <button class="login__btn">Entrar</button>
        </form>

        <div class="login__fechar">X</div>
    </div>

    <div class="overflow-login anima__fundo"></div>
    
    <footer class="footer">
        <div class="container">
            <div class="footer__content_icons">
                <a href="#"><img src="../public/img/youtube.svg" alt="YouTube" title="Visite o Nosso Canal"></a>
                <a href="#"><img src="../public/img/facebook.svg" alt="FaceBook" title="Visite o Nosso FaceBook"></a>
                <a href="#"><img src="../public/img/twitter.svg" alt="twitter" title="Visite o Nosso twitter"></a>
                <a href="#"><img src="../public/img/github.svg" alt="GitHub" title="Visite o Nosso perfil no GitHub"></a>
            </div> 

            <div class="footer__content_direitos">
                <p>©Direitos Reservados</p>
            </div>
        </div>
    </footer> 

    <script src="../public/js/main.js" type="module"></script>
    <script src="../public/js/mainReceitas.js" type="module"></script>
</body>
</html>